# Игнорировать виртуальные окружения
venv/
.env/

# Игнорировать файлы/папки, создаваемые IDE
.idea/
.vscode/
*.swp

# Игнорировать файлы сборки
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать логи
*.log

# Игнорировать настройки окружения
.envrc